html {
    background-image: url(./back.jpg);
    background-size: 100%;
    margin: auto;
}

#torzs {
    width: 1000px;
    margin: auto;
}

#header {
    background-image: url(panorama.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1000px;
    min-width: 650px;
    height: 200px;
    padding: 10px;
}

#header #cimer {
    float: right;
    width: 15%;
    padding-top: 20px;
    padding-right: 30px;
}

#align-right {
    float: right;
    width: 450px;
    background-color: #5b9cea;
}

#align-left {
    float: left;
    width: 450px;
    background-color: #5b9cea;
}

table {
    background-color: #b0d1f1;
    padding: 10px;
    border-collapse: collapse;
    /*border: 1px black solid;*/
}

tr,
td {
    border: 1px black solid;
}
